<div id="description">
    <h2 class="text-primary">WeCare Foundation</h2>

    <div style="position: relative; overflow: hidden; padding-top: 56.25%;"><iframe src="https://share.synthesia.io/embeds/videos/08878d5f-3682-431d-aee9-e6d4c54b8744" loading="lazy" title="Synthesia video player - Your AI video" allow="encrypted-media; fullscreen;" style="position: absolute; width: 100%; height: 80%; top: 0; left: 0; border: none; padding: 0; margin: 0; overflow:hidden;"></iframe></div>

    <h4 class="text-primary">Description</h4>
    <p>
        Welcome to WeCare Foundation, where we signifies the power of collective compassion and the strength that arises when individuals come together for a common cause. At WeCare, we believe in the transformative impact of collective action, where every individual's effort contributes to making a significant difference in the lives of those in need.
    </p>
    <h4 class="text-primary">Our Mission</h4>
    <p>
        WeCare is more than just a name; it's a commitment. Our mission is to create positive change and address pressing social issues through community-driven initiatives. By fostering a sense of unity and shared responsibility, we aim to build a better world where compassion knows no bounds.
    </p>
</div>

<div id="join-us">
    <h4 class="text-primary">How You Can Join Us</h4>

    <div class="card-group">
        <div class="card">
          <img class="card-img-top card-image" src="../assets/volunteers.png" alt="volunteers">
          <div class="card-body">
            <h5 class="card-title text-primary">Volunteer Opportunities</h5>
            <p class="card-text">Become an active participant in our initiatives by volunteering your time and skills. Together, we can create lasting change.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top card-image" src="../assets/donation.jpg" alt="donations">
          <div class="card-body">
            <h5 class="card-title text-primary">Donations</h5>
            <p class="card-text">Your contributions, no matter how big or small, make a significant difference. Join us in supporting our projects financially.</p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top card-image" src="../assets/spread.png" alt="spread the word">
            <div class="card-body">
              <h5 class="card-title text-primary">Spread the Word</h5>
              <p class="card-text">Help us amplify our message by sharing our mission with your friends, family, and colleagues. The more people who join "WeCare," the greater our collective impact.</p>
            </div>
          </div>
      </div>
</div>

<div id="video">
    <h4 class="text-primary">Watch our short video about the importance of charities</h4>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/cp3IH8ZNviQ?si=RoeonaGpd8m9cx5Z" title="YouTube video player" style="border: 2px solid blue; border-radius: 10px;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>